<h1> Musicians </h1>
<% @musicians.each do |musician| %>
<%= link_to musician_path(musician) do %>
<div class="mp-container">
  <div class="picture-container">
    <div class="imgdiv">
    </div>
  </div>
  <div class="profile-container">
    <p class="profile-text"><strong>Name:</strong> <%= musician.name %></p>
    <p class="profile-text"><strong>Instrument:</strong> <%= musician.instrument %></p>
    <p class="profile-text"><strong>Profile:</strong> <%= musician.profile %></p>
  </div>
</div>
<% end %>

<% end %>
