<div class="col-sm-12 .col-centered text-center">
  <div class="profile-container">
    <div class="musician-container">
      <div class="imgdiv">
      </div>
        <h5 class="profile-text"><%= @musician.name %></h5>
        <h4 class="profile-text"><%= @musician.instrument %></h4>
        <p><%= @musician.profile %></p>
        <%= link_to "Create a band", new_musician_band_path(@musician), class:"btn submit-button" %>
      </div>
  </div>
</div>
