<div class="col-sm-12 .col-centered text-center home-container">
  <h1> Don't have an account?</h1>
  <h2 id="sign-up-text"><%= link_to "Sign up", new_musician_path %></h2>
  <%= link_to "Find bands", bands_path, class:"btn submit-button large-button" %>
  <br>
  <%= link_to "Find Musicians", musicians_path, class:"btn submit-button large-button" %>
  <%= link_to "Find Songs", songs_path, class:"btn submit-button large-button" %>
</div>
