<div class="col-sm-12 .col-centered text-center home-container">
  <%= link_to "Find bands", bands_path, class:"btn submit-button large-button" %>
  <br>
  <%= link_to "Find Musicians", musicians_path, class:"btn submit-button large-button" %>
</div>
