<div class="col-sm-12 .col-centered text-center home-container">
  <% unless current_user %>
    <h1> Don't have an account?</h1>
    <h2 id="sign-up-text"><%= link_to "Sign up", new_musician_path, class:"log-in-text" %></h2>
  <% end %>
  <% if current_user %>
    <%= link_to "Find bands", bands_path, class:"btn submit-button large-button" %>
    <br>
    <%= link_to "Find Musicians", musicians_path, class:"btn submit-button large-button" %>
    <%= link_to "Find Songs", songs_path, class:"btn submit-button large-button" %>
  <% end %>
</div>
