@import "shared_values";

.all-forms {
  display: flex;
  justify-content: center;
}

.show-headings {
  font-size: 20px;
  background-color: white;
  color: black;
  width: 35%;
  margin: 0;
  padding-left: 8px;
  margin-top: 8px;
  padding-top: 0px;
}

.audio-panel {
  display: flex;
  justify-content: center;
  margin: 10px;
}

a {
  font-size: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
}

audio {
  border: 5px solid $neon-pink;
  border-radius: 20px;
  background: $neon-pink;
}

.iteration-heading {
  padding-left: 8px;
  padding-top: 5px;
}


.iteration-container {
  display: flex;
}

.iteration-container-song {
  display: flex;
  flex-direction: column;
  background: black;
  border-top: 1px solid $neon-blue;
  border-bottom: 1px solid $neon-blue;
  animation-name: color;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.iteration-sample-container {
  background: $neon-pink;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.fa-play {
  font-size: 90px;
}

.play-override {
  font-size: 50px;
}

.last-iteration {
  background: black;
  width: 70%;
}

.song-heading {
  background-color: $neon-yellow;
  color: black;
}

.iteration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-width {
  width: 80%;
}

.fa-microphone-alt-slash {
  font-size: 50px;
  margin-left: 35%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.mic-override {
  margin: 0;
  font-size: 35px;
}

.profile-container {
  width: 100%;
}

.hidden {
  display: none;
}

.musician-profile-manager {
  display: flex;
  align-items: center;
  padding-top: 15px;
}

.musician-profile-heading {
  flex-grow: 1;
  margin-bottom: 0;
  padding-left: 8px;
  padding-top: 0;
}

.fa-edit, .fa-trash-alt {
  font-size: 30px;
  padding-left: 17px;
  padding-right: 17px;
  color: white;
}

.wide-button {
  width: 120%;
}

.band-profile-heading {
  color: black;
  background-color: $neon-yellow;
  font-weight: bold;
  width: 200px;
}

.alert {
  margin-bottom: 0;
  padding-bottom: 0;
}
.profile-text {
  padding-left: 10px;
  margin: 0;
}

.profile-heading {
  padding-bottom: 0;
  background-color: $neon-blue;
  margin-bottom: 0;
  padding-left: 10px;
}

.mp-container {
  display: flex;
  background-color: black;
  border-top: 1px solid $neon-blue;
  border-bottom: 1px solid $neon-blue;
  animation-name: color;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  margin-bottom: 15px;
  color: white;
  align-items: center;
}

.mp-show-container {
  display: flex;
  background-color: black;
  border-top: 1px solid $neon-blue;
  border-bottom: 1px solid $neon-blue;
  animation-name: color;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  margin-bottom: 15px;
  color: white;
  margin-top: 25px;
}

.musician-container-band-show {
  padding-left: 30px;

}

* {
    box-sizing: border-box
}

h1 {
  padding-top: 15px;
  padding-left: 10px;
}

#sign-up-text {
  padding-bottom: 20px;
}

.log-in-text {
font-size: 40px;
}

a {
  color: $neon-blue;
}

.custom-select {
  width: 60%;
}

.large-button {
  font-size: 30px;
  width: 100%;
  border-radius: 0px;
}

.drop-down-menu {
  background: white;
}

.home-container {
  margin: 0 auto;
}


.musician-container {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: black;
  width: 50%;
}

.musician-container-show {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: black;
  width: 45%;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.imgdiv {
  width: 80px;
  height: 80px;
  background-image: url("https://s3-us-west-1.amazonaws.com/kc-ensemble/muppet_1.jpg");
  border-radius: 50%;
  background-size: cover;
  margin: auto;
  margin-bottom: 10px;
}

.create-button {
  text-align: center;
}

.picture-container {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.iteration-form {
  margin-top: 10px;
}

.align-forms {
  margin-top: 40px;
}

.medium-button {
  width: 50%;
  font-size: 20px;
}

.base-forms {
  margin-top: 40px;
  width: 80%;
}

.lyric-field {
  rows: 25;
}

.cool-label {
  background-color: $neon-blue;
  width: 50%;
  font-size: 25px;
}
.submit-button {
  color: white;
  background-color: $neon-pink;
  text-align: center;
  margin-top: 8px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: $primary-font;
  color: white;
  font-size: 16px;
  background-color: black;
  background-attachment: fixed;
  background-position: 50% -100%;
  background-image: url("https://s3-us-west-1.amazonaws.com/kc-ensemble/CP004_SOUND_EXPANDED-02_1e854728-b0a2-48b5-9d47-3252cf85e27f_1024x1024.jpg")
}

.nav-link {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.link-pink-border {
  border-bottom: 1px solid;
  border-color: $neon-blue;
  animation-name: color;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes color {
  0% {
    border-color: $neon-blue;
  }
  50% {
    border-color: $neon-pink;
  }
  100% {
    border-color: $neon-yellow;
  }

  50% {
    border-color: $neon-pink;
  }

  0% {
    border-color: $neon-blue
  }
}

main {
  margin-right: 8%;
  margin-left: 8%;
}

#nav-logo {
  font-family: $logo-font;
  color: white;
  font-size: 25px;
}

.navbar-toggler-icon {
  color: $neon-pink;
  padding: 15px !important;
}

.navbar {
    border-bottom: 5px solid white;
  }
