@import "shared_values";

* {
    box-sizing: border-box
} 

h1 {
  padding-top: 15px;
}

.custom-select {
  width: 60%;
}

.large-button {
  font-size: 30px;
  width: 100%;
  border-radius: 0px;
}

.drop-down-menu {
  background: white;
}

.home-container {
  margin: 0 auto;
}

.profile-text {
  padding-top: 6px;
  padding-bottom: 6px;
}

.profile-container {
  margin-top: 30px;
  background-color: black;
  border: 1px solid $neon-blue;
  border-radius: 5px;
  animation-name: color;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.musician-container {
  padding-top: 25px;
  padding-bottom: 25px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.imgdiv {
  width: 200px;
  height: 200px;
  background-image: url("https://s3-us-west-1.amazonaws.com/kc-ensemble/muppet_1.jpg");
  border-radius: 50%;
  background-size: cover;
  margin: auto;
}
.base-forms {
  margin-top: 50px;
}

.submit-button {
  color: white;
  background-color: $neon-pink;
  text-align: center;
  margin-top: 8px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: $primary-font;
  color: white;
  font-size: 16px;
  background-color: black;
  background-attachment: fixed;
  background-image: url("https://s3-us-west-1.amazonaws.com/kc-ensemble/soundwaves.jpg")
}

.nav-link {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.link-pink-border {
  border-bottom: 1px solid;
  border-color: $neon-blue;
  animation-name: color;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes color {
  0% {
    border-color: $neon-blue;
  }
  50% {
    border-color: $neon-pink;
  }
  100% {
    border-color: $neon-yellow;
  }

  50% {
    border-color: $neon-pink;
  }

  0% {
    border-color: $neon-blue
  }
}

.parallax {
    background-image: url("img_parallax.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

main {
  margin-right: 8%;
  margin-left: 8%;
}

#nav-logo {
  font-family: $logo-font;
  color: white;
  font-size: 25px;
}

.navbar-toggler-icon {
  color: $neon-pink;
  padding: 15px !important;
}

.navbar {
    border-bottom: 5px solid;
    border-image: linear-gradient(to right, $neon-pink 33%, $neon-yellow 33%, $neon-yellow 66%,$neon-blue 66%, $neon-blue  100%) 5;
  }
